<a href="https://colab.research.google.com/github/patrick-aragon/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two

Python Comment

In [ ]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable

In [ ]:
x = 1
a,b = 0,-1
a,b,c = 0,-1,2
b

-1

Casting

In [ ]:
b = "sally" #This is a type of string
b = int(4)
b

4

In [ ]:
b = float(4)
b

4.0

Type() Function

In [ ]:
x = 5
y = 'John'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes and Single Quotes

In [1]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [2]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

Multiple Variables

In [3]:
h,i,j="one","two","three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [4]:
k=l=m="four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [5]:
n = "enjoying"
print("Python programming is " + n)

Python programming is enjoying

In [6]:
n = "enjoying"
p = "Python programming is "
print(p + n)

Python programming is enjoying

Arithmetic Operations

In [16]:
x = 3
y = 2
print(x+y)

5

In [18]:
x = 3
y = 2
print(x+y) #Addition
print(x-y) #Subtraction
print(x*y) #Multiplication
print(x/y) #Division
print(x%y) #Modulus
print(x**y) #Exponent
print(x//y) #Floor Division

5
1
6
1.5
1
9
1

In [19]:
sum = x+y
sum

5

Assignment Operator

In [20]:
x+=3 #same as x=x+3
x

6

Comparison Operator

In [23]:
print(x==y) #x=3,y=2
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
True
False
True
False

Logical Operators

In [26]:
print(x==y and x!=y) #False and True
print(x==y or x!=y) #False or True
print(not(x==y or x!=y)) #Negate(False or True)

False
True
False

Identity Operators

In [28]:
print(x is y) #False
print(x is not y) #True

False
True

Bitwise Operators

In [30]:
#10 +1 = 11   ; 1010 + 0001 = 1011
print(10 | 1) #0000 1010
print(10 & 1) #0000 0000
print(10 ^ 1) #0000 1011
print(~10) #1111 0101
print(10 << 1) #0010 1010
print(10 >> 1) #0001 0101
print(10 >> 2) #0000
print(10 >> 3) #0

11
0
11
-11
20
5
2
1

Application 1

In [35]:
#Create a python program that displays your Fullname, Age, Course and Section

# Input the information
fullname = input("Enter your fullname: ")

while True:
    age = input("Enter your age: ")
    if age.isdigit() and int(age) > 0:
        age = int(age)
        break
    else:
        print("Invalid input. Please enter a positive number for age.")

course = input("Enter your course: ")
section = input("Enter your section: ")

# Display the information
print("\n--- Displaying Information ---")
print("Fullname: ", fullname)
print("Age: ", age)
print("Course: ", course)
print("Section: ", section)

Enter your fullname: Patrick Laurence M. Aragon
Enter your age: 21
Enter your course: BS Computer Engineering
Enter your section: 3-1

--- Displaying Information ---
Fullname:  Patrick Laurence M. Aragon
Age:  21
Course:  BS Computer Engineering
Section:  3-1